@page "/login"
@attribute [StreamRendering]
<PageTitle>Login</PageTitle>
<h3>Login</h3>

<MudStack Row Class="justify-space-between mud-width-full">
    <MudStack Style="width: 300px">
        <MudTextField @bind-Value="Username" Label="Username" Variant="Variant.Text"></MudTextField>
        <MudTextField @bind-Value="Password" Label="Password" Variant="Variant.Text"></MudTextField>
        <MudButton Variant="Variant.Text" Color="Color.Primary">Login</MudButton>
    </MudStack>
</MudStack>


@code {
    private string Username;
    private string Password;
}
